header {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    #userIcon {
        position: relative;
        left: 37px;
        filter: brightness(0) invert(1);
    }

    .basket {
        i {
            position: relative;
            top: 0.5rem;
            left: 0.3rem;
        }
    }
}